* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: var(--bg-main);
  padding: 1.2em;
  color: var(--primary-text);
}

.user-welcome > a {
  text-decoration: none;
}

.user-welcome > a:hover {
  font-size: 1.1em;
  box-shadow: 2px 2px 10px 2px var(--accent);
  border-radius: 6px;
}

.user-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2em;
  gap: 1.2em;
  font-size: 1.2em;
}

.logged-in {
  display: grid;
  grid-template: auto / 1fr;
  grid-row-gap: .2em;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.2em;
}

.logged-in > p {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: .8em;
  text-align: center;
}

.message-link {
  text-decoration: none;
  color: var(--primary-text);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: .5em;
  font-size: 1.2em;
}

