<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <% if (locals.user) { %>
    <h2>Welcome <%= user.username %></h2>  
    <p>Some filler text will go here to make the page more contextual</p> 
    <a href="/messages">
      <div class="messages-link">
        <p>Messages</p>
      </div>
    </a>
    <% } else { %>
    <h2>Log In</h2>
    <form action="/login" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" />
      <button type="submit">Log In</button>
    </form>
    <a href="/register">
      <div class="register-link">
        <p>Register</p>
      </div>
    </a>
    <% } %>
  </body>
</html>

