<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/heading.ejs') %>
    <main class="user-welcome">
      <h1>Yap Space...</h1> 
      <article class="logged-in">
        <p>Welcome to a yap space where you can yap about almost anything you
          wish to, no filters ig</p>
        <p>This project has taught me alot about user authentication and
          authorization in accessing different routes. As well as how sessions
          work, what cookies are and just how powerful they are.</p>
        <p>Everything here is part of a development environment.
          Expect unfinished features, broken layouts, and occasional stupidity.</p>
      </article>
      <a href="/messages" class="message-link">
        Have A Look
      </a>
    </main>
  </body>
</html>

