<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Members Only </title>
  </head>
  <body>
    <h2><%= title %></h2>
    <a href="/register">
      <div class="register-ele">
        <p>Register</p>
      </div>
    </a>

    <a href="/login">
      <div class="login-ele">
        <p>Login</p>
      </div>
    </a>
  </body>
</html>
