<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join The Club</title>
  </head>
  <body>
    <main class="join-container">
      <div class="content-container">
        <h2>Join da club ig</h2>
        <p>Guess I can put a question here...</p>
      </div>
      <form action="/join" method="post">
        <label for="answer"></label>
        <input type="text" id="club-answer" name="answer" />
        <button type="submit">Answer</button>
      </form>
    </main>
  </body>
</html>
