<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join The Club</title>
  </head>
  <body>
    <main class="join-container">
      <div class="content-container">
        <h2>To Join Or Not To Join</h2>
        <p>Geniunely I have no clue as to what on earth I can put here to be
          frank about it. Anywho to become a member just type in member, all
          set.</p>
      </div>
      <form action="/join" method="post">
        <label for="answer"></label>
        <input type="text" id="club-answer" name="answer" />
        <button type="submit">Answer</button>
      </form>
    </main>
  </body>
</html>
