<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
  </head>
  <body>
    <form action="/register" method="post">
      <!--      <label for="firstname">FirstName</label>
      <input type="text" id="firstname" name="firstname" />
      <label for="lastname">LastName</label>
      <input type="text" id="lastname" name="lastname" />
      -->
      <label for="username">UserName</label>
      <input for="text" id="username" name="username" />
      <!--
      <label for="email">Email</label>
      <input for="email" id="email" name="email" />
      -->
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <!--
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" name="confirmpassword" id="confirmpassword" />
      -->
      <button type="submit">Register</button>
    </form>
  </body>
</html>
