<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <label for="username"></label>
    <input type="text" id="username" name="username" placeholder="Username"/>
    <label for="password"></label>
    <input type="password" id="password" name="password" placeholder="Password"/>
    <button type="submit">Register</button>
  </body>
</html>
