<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="colors.css" rel="stylesheet" />
    <link href="header.css" rel="stylesheet" />
  </head>
    <header class="overall-header">
      <div class="home-nav">
        <a href="/" class='home-btn'>
            <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect x="16" y="20" width="64" height="44" rx="4" stroke="currentColor" stroke-width="3"/>
              <polyline points="30,38 36,42 30,46" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
              <line x1="40" y1="46" x2="52" y2="46" stroke="currentColor" stroke-width="3" stroke-linecap="round"/>
            </svg>
            Kuroba
        </a>
      </div> 
      <div class="header-options">
        <a href="/messages">
          Messages
        </a>
        <% if (locals.currentUser) {%>
        <a href="/user">
          <%= currentUser.username %>
        </a>
        <a href="/logout">
          Log out
        </a>
        <% } else { %>
        <a href="/login">
          Sign in
        </a>
        <a href="/register">
          Sign up
        </a>
        <% } %>
      </div>
    </header>
</html>
